---
import Layout from "../layouts/Layout.astro";
import CompEstadisticas from "../components/CompEstadisticas.astro";
---

<Layout title="ZalaDev">
  <main>
    <CompEstadisticas />
  </main>
</Layout>
