---
import Layout from "../layouts/Layout.astro";
import CompHerramientas from "../components/CompHerramientas.astro";
---

<Layout title="ZalaDev">
  <main>
    <CompHerramientas transition:persist />
  </main>
</Layout>
```
